// Really basic typographic rules
// (and some overwriting of Normalize)

body {
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.5;
  color: $txt;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p {
  // only push down, it keeps things saner
  // and baseline grids easier to maintain
  margin-top: 0;
}
a {
  @include transition(color .25s);
  text-decoration: none;  

  #{$pseudos} {
    text-decoration: none;
  }

}

@include placeholder($txt, 400);